body {
    margin: 60px auto;
    width: 70%;
    /*background-color: pink;*/
}

#content{
    margin: 50px auto;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-family: 'Mali', cursive;
    font-family: 'Charmonman', cursive;
    font-family: 'Inconsolata', monospace;
    font-family: 'Indie Flower', cursive;
    padding: 0px;
    /*list-style: none;*/
    font-weight: bold;
    /*background-color: red;*/
}

footer{
    position: relative;
    bottom:0;
    height: 150px;
}

nav ul li, footer ul li {
    display: inline; /* the actual items within the list */
    margin-right: 20px; /* space after text */
    /* background-color: green; */
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

#mypic {
    float: right;
    margin: 0 0 10px 10px;
}

#mail {
    height: 24px;
    width: 30px;
}
h1 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif','Indie Flower','Mali';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
